:root{
  --color-primary-100: #ECF6FB;
  --color-primary-200: #DAECF7;
  --color-primary-300: #BFD6E7;
  --color-primary-400: #A2BACF;
  --color-primary-500: #7D95AF;
  --color-primary-600: #5B7496;
  --color-primary-700: #3E577D;
  --color-primary-800: #273C65;
  --color-primary-900: #182953;
  --color-primary-transparent-100: rgba(125, 149, 175, 0.08);
  --color-primary-transparent-200: rgba(125, 149, 175, 0.16);
  --color-primary-transparent-300: rgba(125, 149, 175, 0.24);
  --color-primary-transparent-400: rgba(125, 149, 175, 0.32);
  --color-primary-transparent-500: rgba(125, 149, 175, 0.4);
  --color-primary-transparent-600: rgba(125, 149, 175, 0.48);
  --color-success-100: #F4FBD4;
  --color-success-200: #E8F8AB;
  --color-success-300: #D1EB7E;
  --color-success-400: #B7D85A;
  --color-success-500: #93BF2B;
  --color-success-600: #78A41F;
  --color-success-700: #5F8915;
  --color-success-800: #496E0D;
  --color-success-900: #385B08;
  --color-success-transparent-100: rgba(147, 191, 43, 0.08);
  --color-success-transparent-200: rgba(147, 191, 43, 0.16);
  --color-success-transparent-300: rgba(147, 191, 43, 0.24);
  --color-success-transparent-400: rgba(147, 191, 43, 0.32);
  --color-success-transparent-500: rgba(147, 191, 43, 0.4);
  --color-success-transparent-600: rgba(147, 191, 43, 0.48);
  --color-info-100: #DEF2FE;
  --color-info-200: #BDE3FE;
  --color-info-300: #9CD1FE;
  --color-info-400: #83BFFD;
  --color-info-500: #5AA3FC;
  --color-info-600: #417ED8;
  --color-info-700: #2D5EB5;
  --color-info-800: #1C4192;
  --color-info-900: #112D78;
  --color-info-transparent-100: rgba(90, 163, 252, 0.08);
  --color-info-transparent-200: rgba(90, 163, 252, 0.16);
  --color-info-transparent-300: rgba(90, 163, 252, 0.24);
  --color-info-transparent-400: rgba(90, 163, 252, 0.32);
  --color-info-transparent-500: rgba(90, 163, 252, 0.4);
  --color-info-transparent-600: rgba(90, 163, 252, 0.48);
  --color-warning-100: #FFF6CE;
  --color-warning-200: #FFEA9C;
  --color-warning-300: #FFDB6C;
  --color-warning-400: #FFCD47;
  --color-warning-500: #FFB50A;
  --color-warning-600: #DB9407;
  --color-warning-700: #B77605;
  --color-warning-800: #935A03;
  --color-warning-900: #7A4701;
  --color-warning-transparent-100: rgba(255, 181, 10, 0.08);
  --color-warning-transparent-200: rgba(255, 181, 10, 0.16);
  --color-warning-transparent-300: rgba(255, 181, 10, 0.24);
  --color-warning-transparent-400: rgba(255, 181, 10, 0.32);
  --color-warning-transparent-500: rgba(255, 181, 10, 0.4);
  --color-warning-transparent-600: rgba(255, 181, 10, 0.48);
  --color-danger-100: #FFE9DE;
  --color-danger-200: #FFCDBE;
  --color-danger-300: #FFAC9E;
  --color-danger-400: #FF8D86;
  --color-danger-500: #FF5E63;
  --color-danger-600: #DB4456;
  --color-danger-700: #B72F4B;
  --color-danger-800: #931D40;
  --color-danger-900: #7A123A;
  --color-danger-transparent-100: rgba(255, 94, 99, 0.08);
  --color-danger-transparent-200: rgba(255, 94, 99, 0.16);
  --color-danger-transparent-300: rgba(255, 94, 99, 0.24);
  --color-danger-transparent-400: rgba(255, 94, 99, 0.32);
  --color-danger-transparent-500: rgba(255, 94, 99, 0.4);
  --color-danger-transparent-600: rgba(255, 94, 99, 0.48);
}