:root {
  --color-primary-100: #E0F1F7;
  --color-primary-200: #C3E1EF; 
  --color-primary-300: #96BBCF;
  --color-primary-400: #6989A0;
  --color-primary-500: #354D62;
  --color-primary-600: #263C54;
  --color-primary-700: #1A2D46;
  --color-primary-800: #101F38;
  --color-primary-900: #0A162F;
  --color-primary-transparent-100: rgba(53, 77, 98, 0.08);
  --color-primary-transparent-200: rgba(53, 77, 98, 0.16);
  --color-primary-transparent-300: rgba(53, 77, 98, 0.24);
  --color-primary-transparent-400: rgba(53, 77, 98, 0.32);
  --color-primary-transparent-500: rgba(53, 77, 98, 0.4) ;
  --color-primary-transparent-600: rgba(53, 77, 98, 0.48);

  --color-success-100: #D1F9CC; 
  --color-success-200: #9CF39B;
  --color-success-300: #65DB6F;
  --color-success-400: #3BB752;
  --color-success-500: #0E8730;
  --color-success-600: #0A7432;
  --color-success-700: #076131;
  --color-success-800: #044E2E;
  --color-success-900: #02402C;
  --color-success-transparent-100: rgba(14, 135, 48, 0.08); 
  --color-success-transparent-200: rgba(14, 135, 48, 0.16); 
  --color-success-transparent-300: rgba(14, 135, 48, 0.24);
  --color-success-transparent-400: rgba(14, 135, 48, 0.32);
  --color-success-transparent-500: rgba(14, 135, 48, 0.4) ;
  --color-success-transparent-600: rgba(14, 135, 48, 0.48);

  --color-info-100: #C8F9FA; 
  --color-info-200: #94EEF5;
  --color-info-300: #5BCFE3;
  --color-info-400: #32A7C7;
  --color-info-500: #0175A3;
  --color-info-600: #005B8C;
  --color-info-700: #004475;
  --color-info-800: #00305E;
  --color-info-900: #00224E;
  --color-info-transparent-100: rgba(1, 117, 163, 0.08);
  --color-info-transparent-200: rgba(1, 117, 163, 0.16);
  --color-info-transparent-300: rgba(1, 117, 163, 0.24);
  --color-info-transparent-400: rgba(1, 117, 163, 0.32);
  --color-info-transparent-500: rgba(1, 117, 163, 0.4) ; 
  --color-info-transparent-600: rgba(1, 117, 163, 0.48);

  --color-warning-100: #FBF5C9;
  --color-warning-200: #F7EB96;
  --color-warning-300: #E8D45F;
  --color-warning-400: #D2B837;
  --color-warning-500: #B59403;
  --color-warning-600: #9B7C02;
  --color-warning-700: #826501;
  --color-warning-800: #684F00;
  --color-warning-900: #564000;
  --color-warning-transparent-100: rgba(181, 148, 3, 0.08);
  --color-warning-transparent-200: rgba(181, 148, 3, 0.16);
  --color-warning-transparent-300: rgba(181, 148, 3, 0.24);
  --color-warning-transparent-400: rgba(181, 148, 3, 0.32);
  --color-warning-transparent-500: rgba(181, 148, 3, 0.4);
  --color-warning-transparent-600: rgba(181, 148, 3, 0.48);

  --color-danger-100: #FADED1; 
  --color-danger-200: #F6B6A5;
  --color-danger-300: #E58274;
  --color-danger-400: #CC524E;
  --color-danger-500: #AA1E25;
  --color-danger-600: #921527;
  --color-danger-700: #7A0F27;
  --color-danger-800: #620925;
  --color-danger-900: #510524;
  --color-danger-transparent-100: rgba(170, 30, 37, 0.08); 
  --color-danger-transparent-200: rgba(170, 30, 37, 0.16);
  --color-danger-transparent-300: rgba(170, 30, 37, 0.24);
  --color-danger-transparent-400: rgba(170, 30, 37, 0.32);
  --color-danger-transparent-500: rgba(170, 30, 37, 0.4);
  --color-danger-transparent-600: rgba(170, 30, 37, 0.48);
}
